name: Test

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up
        run: |
          chmod +x ./gnudir.sh
          chmod +x ./tests/make_test_tree.sh ./tests/run_tests.sh
      - name: Run tests
        run: |
          ./tests/run_tests.sh